/_info

/modulo_2_practicas/clase_2/.vscode

/modulo_2_practicas/clase_3/.vscode

/modulo_2_practicas/clase_3_v2/

/modulo_2_practicas/clase_4/.vscode

/modulo_3_practicas/clase_5/.vscode

/modulo_3_practicas/clase_6/.vscode


*.env
*.env.example
*.env.local
*.env.staging