@use '../modules/variables' as *;

.articles {
  height: 100%;
  min-width: $article-min-width;
  max-width: $article-max-width;

  &__item {
    text-align: center;
    background-color: $gray-light-color;
    margin: $main-padding;
    padding: $article-padding;
    padding-bottom: $article-padding-y;
    border-radius: $border-radius;
  }

  &__item__title {
    color:$primary-color;
  }
  
  &__item__text {
    text-align: center;
  }
}

@media screen and (max-width:$max-width-md) {

  .articles {
    max-height: none;
    min-width: none;
    max-width: none;

    &__item {
      width: 100%;
      margin: 0px;
      padding: 0px;
      padding-top: 10px;
      margin-top: 5px;
      padding-bottom: 30px;
    }
  }
}