@use '../modules/variables' as *;

.button-primary {
  border-radius: $border-radius;
  background-color: $secondary-color;
  border: $secondary-color;
  color: $white-color;
  padding: $main-padding;
  text-decoration: $btn-text-decoration;
  font-size: $btn-font-size;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    transition: $time-transition;
  }
}