@use '../modules/variables' as *;

footer {
    margin-top:$main-padding;
    padding-top:$footer-padding-top;
    height:$footer-height;
    width:100%;
    text-align: center;
    background-color:$primar-color;
    color:$white-color;
}