@use '../modules/variables' as *;

h1,
h2,
h3,
h4 {
  color: $primary-color;
}

.header {
  padding: $header-padding;

  &__title {
    color: $primary-color;
    text-align: center;
  }

  &__text {
    color: $gray-dark-color;
    text-align: center;
  }

}