body, html {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight:400;
  font-style: normal;
  line-height:1.6;
}

h1, h2, h3, h4 {
  color: #0047ba;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #00a5b5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight:900;
}

.topnav a:hover {
  color: #0047ba;
  text-decoration: underline;
  transition: 0.3s;
}

.topnav a.active {
  color: #0047ba;
}

.topnav a.active:hover {
  text-decoration: none;
  cursor:default;
}

.topnav .btn-mobile {
  text-decoration: none;
  display: none;
}


.topnav .btn-mobile:hover {
  transition: none;
}

#logo-nav {
  margin-right: 100px;
}

header {
  padding: 20px;
  text-align: center;
}

/* main min-height =  100vh - (h header + h footer) */

main {
  padding-left: 90px;
  padding-right: 90px;
  min-height: calc(100vh - 284px);
}

.container {
  display:flex;
}

.articles {
  height:100%;
  min-width:100px;
  max-width:250px;

}

article {
  text-align:center;
  background-color:#d3e3e6;
  margin:10px;

  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:40px;
  border-radius:8px;
}

.button-primary {
  border-radius:8px;
  background-color: #00a5b5;
  color:#ffffff;
  padding:10px;
}

.button-primary:hover {
  background-color: #0047ba;
  transition: 0.3s;
}

article .button-primary {
  text-decoration: none;
}

section {
  margin-left:40px;
  padding-bottom:20px
}

footer {
  margin-top:10px;
  padding-top:60px;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color:#0047ba;
  color:#FFFFFF;
}

form {
  width:100%;
  padding-top:20px; 
  text-align:center;
  background-color:#d3e3e6;
  padding-bottom:20px;
  border-radius:8px;
}

form label {
  text-align:left !important;
}

textarea,
input[type=email],
input[type=text] {
  width:100%;
  height:30px;
  margin-bottom:20px;
  border-radius:8px;
  max-width:500px;
  border: 1px solid #ccc;
}

textarea:focus,
input[type=email]:focus ,
input[type=text]:focus  {
  border: 1px solid #333333 !important;
}

input[type=submit]  {
  border: none;
  cursor:pointer;
  padding:20px;
}

hr {
  height: 0;
  border-color:#ebe6e6;
  border-top: 1px;
}
 

/* Media queries */

@media screen and (max-width: 900px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.btn-mobile {
    float: right;
    display: block;
  }

  .content, .topnav {
    padding-left: 0px;
    padding-right: 0px;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .btn-mobile {
    margin-top:10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .container {
    flex-direction: column;
  }
  article, section, .sections {
    width:100%;
    margin:0px;
    padding:0px;
  }

  article {
    padding-top:5px;
    margin-top:5px;
    padding-bottom:30px;
  }

  .articles {
    max-height:none;
    min-width:none;
    max-width:none;

  }

  main {
    padding-left: 10px;
    padding-right: 10px;
  }

  textarea,
  input[type=email],
  input[type=text] {
    width:90%
  }


}