// global fonts :

$font-family-sans-serif: "Lato", sans-serif;
$custom-font-weight: 400;
$custom-line-height: 1.6;

// primary color $blue :

$blue:#0047ba !default;

// animation :

$time-transition:0.3s;

// cards :

$cards-box-shadow:0 4px 4px rgba(0, 0, 0, 0.04);

// reserva :

$reserva-box-shadow:0 4px 4px rgba(0, 0, 0, 0.04);

// mapa :

$mapa-width : 100%;
$mapa-height: 450px;
$mapa-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
$mapa-border-radius: 5px;

// nav :

$nav-box-shadow:0 4px 4px rgba(0, 0, 0, 0.068);

// buttons :

$btn-primary-padding:12px;

// testimonial :

$testimonial-padding-y:4rem;
$testimonial-letter-spacing: -.05rem;
$testimonial-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.075);
$testimonial-border-radius:8px;