body,
html {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.topnav .topnav__logo {
  margin-right: 100px;
}
.topnav .topnav__item {
  float: left;
  display: block;
  color: #0047ba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 900;
}
.topnav .topnav__item:hover {
  color: #00a5b5;
  text-decoration: underline;
  transition: 0.3s;
}
.topnav .topnav__item.active {
  color: #0047ba;
}
.topnav .topnav__item.active:hover {
  text-decoration: none;
  cursor: default;
}
.topnav__mobile {
  text-decoration: none;
  display: none;
}
.topnav .topnav__mobile:hover {
  transition: none;
}

@media screen and (max-width: 768px) {
  .topnav {
    padding-left: 0px;
    padding-right: 0px;
  }
  .topnav .topnav__item:not(:first-child) {
    display: none;
  }
  .topnav .topnav__mobile {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .btn-mobile {
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
h1,
h2,
h3,
h4 {
  color: #0047ba;
}

header {
  padding: 20px;
  text-align: center;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  min-height: calc(100vh - 284px);
}

.container {
  display: flex;
}

section {
  margin-left: 40px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    flex-direction: column;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.articles {
  height: 100%;
  min-width: 100px;
  max-width: 250px;
}

article {
  text-align: center;
  background-color: #ebe6e6;
  margin: 10px;
  padding: 5px;
  padding-bottom: 40px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  article,
  section,
  .sections {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .articles {
    max-height: none;
    min-width: none;
    max-width: none;
  }
  .articles article {
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 30px;
  }
}
form {
  padding: 20px;
  text-align: center;
  background-color: #ebe6e6;
  border-radius: 8px;
}
form label {
  text-align: left !important;
}
form textarea,
form input[type=email],
form input[type=text] {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  max-width: 500px;
  border: 1px solid #ebe6e6;
}
form textarea:focus,
form input[type=email]:focus,
form input[type=text]:focus {
  border: 1px solid !important;
}
form input[type=submit] {
  border: none;
  cursor: pointer;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  form textarea,
  form input[type=email],
  form input[type=text] {
    width: 90%;
  }
}
.button-primary {
  border-radius: 8px;
  background-color: #00a5b5;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.button-primary:hover {
  background-color: #0047ba;
  transition: 0.3s;
}

footer {
  margin-top: 10px;
  padding-top: 60px;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: #0047ba;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */